<!-- Navigation -->
<nav class="navbar navbar-default navbar-expand-lg navbar-light fixed-top bg-faded" id="mainNav">
    <div class="container">
        <a class="navbar-brand page-scroll" href="#page-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li>
                    <a class="nav-link page-scroll" href="#about">about</a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#services">services</a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#contact">contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

