<section id="services" class="bg-light-gray" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <p class="mb-5">
                    Run your experiments in our lab. Let us create scalable software for your first venture into cloud technologies;
                    your next IoT project or any crazy experiment. Your imagination is not the limit.
                </p>
            </div>
        </div>
        <div class="row">
        {% for row in site.data.services %}
            {% for item in row %}
            <div class="col-md-4 col-sm-4 col-xs-4 service-item">
                <div class="icon" style=" background-image: url('{{  "/assets/images/" | append: item.icon | prepend: site.baseurl }}');"></div>
                <h6 class="mt-2">{{ item.heading}}</h6>
                <p>{{ item.body }}</p>
            </div>
            {% endfor %}
        {% endfor %}
        </div>

    </div>
</section>