<section id="tech" class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tech Word Cloud</h2>
                <h3 class="section-subheading">At Code Laboratories we have expertise in the following</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img class="img-centered img-responsive" src="{{  "/assets/images/wordcloud.png" | prepend: site.baseurl }}"/>
            </div>

        </div>

    </div>


</section>